/*@-webkit-keyframes titled {
  from {
    opacity: 0;
  }
  30% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes titled {
  from {
    opacity: 0;
  }
  30% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes first {
  from {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}


@keyframes first {
  from {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes animated {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 100% 100%;
  }
}*/

.container-header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f5f5f7;
}

#headerTitle {
  padding: 0 0 30px 0;
  font-size: 80px;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    #f1f1f2,
    #bcbabe,
    #a1d6e2,
    #1995ad
  );
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #f5f5f7;
  /*-webkit-animation: titled 0.7s ease-in-out forwards;
  animation: titled 0.7s ease-in-out forwards;*/
}

#headerFirst {
  margin: 0;
  padding: 0 0 5px 0;
  font-size: 40px;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    #f1f1f2,
    #bcbabe,
    #a1d6e2,
    #1995ad
  );
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.7px #f5f5f7;
  /*-webkit-animation: first 1.7s ease-out forwards;
  animation: first 1.7s ease-out forwards;*/
}

#headerSecond {
  margin: 0;
  padding: 5px 0 30px 0;
  font-size: 20px;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    #f1f1f2,
    #bcbabe,
    #a1d6e2,
    #1995ad
  );
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.7px #f5f5f7;
  /*-webkit-animation: first 3s ease-out forwards;
  animation: first 3s ease-out forwards;*/
}

#headerThird {
  font-size: 30px;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    #f1f1f2,
    #bcbabe,
    #a1d6e2,
    #1995ad
  );
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.7px #f5f5f7;
  /*-webkit-animation: first 4.1s ease-in forwards;
  animation: first 4.1s ease-out forwards;*/
}
