@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Red Hat Text", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  padding: 5px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  transition: all 0.2s;
}

a:hover {
  color: #999;
}

a:active {
  top: calc(50% + 5px);
  box-shadow: 0px 0px 0px 0px #000;
}

button {
  border: none;
  text-decoration: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover {
  color: #999;
}

