@import url("https://use.typekit.net/lrk1gqa.css");

/*  Navbar */
@-webkit-keyframes postItUnfold {
  0% {
    border-width: 2px 5px 15px 5px;
  }
  10% {
    border-width: 12px 45px 90px 45px;
  }
  50% {
    border-width: 12px 45px 90px 45px;
  }
  100% {
    border-width: 20px 100px 150px 80px;
  }
}

@keyframes postItUnfold {
  0% {
    border-width: 2px 5px 15px 5px;
  }
  50% {
    border-width: 12px 45px 90px 45px;
  }
  100% {
    border-width: 20px 100px 150px 80px;
  }
}

@-webkit-keyframes postIt {
  0% {
    border-width: 20px 100px 150px 80px;
  }
  5% {
    border-width: 12px 45px 90px 45px;
  }
  10% {
    border-width: 12px 45px 90px 45px;
  }
  100% {
    border-width: 2px 5px 15px 5px;
  }
}

@keyframes postIt {
  0% {
    border-width: 20px 100px 150px 80px;
  }
  50% {
    border-width: 12px 45px 90px 45px;
  }
  100% {
    border-width: 2px 5px 15px 5px;
  }
}

@-webkit-keyframes postItUnfoldText {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes postItUnfoldText {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes postItText {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes postItText {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes linkEffect {
  25% {
    border-top: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  50% {
    border-bottom: 1px solid grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  75% {
    border-top: 1px solid #ececec;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  100% {
    border-bottom: 1px solid #dbdbdb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}

/* About me */

@keyframes titled {
  from {
    opacity: 0;
  }
  30% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes first {
  from {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes second {
  from {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

/* All page */

body {
  margin: auto;
  font-family: flood-std, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 15px;
}

a {
  text-decoration: none;
}

div div a:hover {
  color: grey;
  -webkit-animation: linkEffect 1s ease;
  animation: linkEffect 1s ease;
}

/* Navbar */

.container-navbar {
  width: 100px;
  -webkit-transform: rotate(10deg); /* Safari */
  transform: translate(20px, 20px) rotate(-10deg); /* Tous les autres navigateurs */
  background: #edf492;
  border-style: solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
  position: fixed;
  border-color: transparent #edf492 #edf492 #edf492;
}

div div a {
  padding: 0 5px;
  font-size: 1.2em;
  color: black;
}

.active {
  color: grey;
}

.navbar-lang {
  width: 140px;
}

header h1 {
  width: auto;
  font-size: 1.2em;
}

header h1:hover {
  color: grey;
}

header {
  text-align: start;
  padding: 5px;
}

.unfold {
  height: 100px;
  -webkit-animation: postItUnfold 0.7s linear forwards;
  animation: postItUnfold 0.7s linear forwards;
}

.fold {
  -webkit-animation: postIt 0.7s linear forwards;
  animation: postIt 0.7s linear forwards;
}

.nav {
  width: 70%;
  -webkit-animation: postItUnfoldText 1s ease-in forwards;
  animation: postItUnfoldText 1s ease-in forwards;
}

.close {
  display: none;
  -webkit-animation: postItText 1s linear forwards;
  animation: postItText 1s linear forwards;
}

.nav-item {
  padding-left: 10px;
}

a:hover {
  border-bottom: 1px solid grey;
}

.logo {
  width: 32px;
  height: 32px;
}

/* About me */

#aboutMe {
  width: auto;
  background-image: url(../img/background-first-section.png);
  background-size: cover;
  background-position: center;
  height: 100vh; 
  position: relative;
}

.aboutMeTitle {
  position: absolute;
  top: 30%;
  left: 45%;
  margin: 5px;
  width: 500px;
  font-size: 3em;
  -webkit-animation: titled 0.7s ease-in-out forwards;
  animation: titled 0.7s ease-in-out forwards;
}

.aboutMeFirst {
  position: absolute;
  top: 40%;
  left: 45%;
  margin: 5px;
  width: 500px;
  font-size: 2.5em;
  -webkit-animation: first 1.7s ease-out forwards;
  animation: first 1.7s ease-out forwards;
}

.aboutMeSecond {
  position: absolute;
  top: 50%;
  left: 45%;
  margin: 5px;
  width: 500px;
  font-size: 1.5em;
  -webkit-animation: first 3s ease-out forwards;
  animation: first 3s ease-out forwards;
}

.aboutMeThird {
  position: absolute;
  top: 60%;
  left: 45%;
  margin: 5px;
  width: 500px;
  font-size: 1.5em;
  -webkit-animation: first 4.1s ease-in forwards;
  animation: first 4.1s ease-out forwards;
}

.aboutMeFourth {
  position: absolute;
  top: 300px;
  left: 40%;
  margin: 5px;
  width: 500px;
  font-size: 2.5em;
  -webkit-animation: first 9s ease-out forwards;
  animation: first 9s ease-out forwards;
}

#aboutMe a {
  color: #1b6ca8;
  text-align: center;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  width: 180px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#aboutMe a:hover {
  box-shadow: 1px 8px 12px 4px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 920px) {
  @-webkit-keyframes postItUnfold {
    0% {
      border-width: 20px 110px 170px 100px;
    }
    50% {
      border-width: 10px 45px 90px 45px;
    }
    100% {
      border-width: 0px 35px 15px 5px;
    }
  }

  @keyframes postItUnfold {
    0% {
      border-width: 20px 110px 170px 100px;
    }
    50% {
      border-width: 10px 45px 90px 45px;
    }
    100% {
      border-width: 0px 35px 15px 5px;
    }
  }

  @-webkit-keyframes postIt {
    0% {
      border-width: 0px 35px 5px 5px;
    }
    50% {
      border-width: 10px 55px 10px 45px;
    }
    100% {
      border-width: 20px 110px 150px 100px;
    }
  }

  @keyframes postIt {
    0% {
      border-width: 0px 35px 15px 5px;
    }
    50% {
      border-width: 10px 55px 10px 45px;
    }
    100% {
      border-width: 20px 110px 150px 100px;
    }
  }

  @-webkit-keyframes postItUnfoldText {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 0;
    }
    10% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes postItUnfoldText {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes postItText {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 0;
    }
    10% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes postItText {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 0;
    }
    10% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }

  /* Navabr */

  .unfold {
    height: 100px;
  }

  .fold {
    height: 170px;
  }

  nav {
    display: none;
  }

  .close {
    display: block !important;
  }

  /* About me */

  #aboutMe {
    width: auto;
    background-position: right;
  }

  .aboutMeTitle {
    top: 30%;
    left: 25%;
  }
  
  .aboutMeFirst {
    top: 40%;
    left: 25%;
  }
  
  .aboutMeSecond {
    top: 47%;
    left: 25%;
  }
  .aboutMeThird {
    top: 57%;
    left: 25%;
  }
}


@media only screen and (max-width: 600px) {

  /* Navbar */

  div div a {
    font-size: 1.4em;
  }

  header h1 {
    font-size: 1.5em;
  }

  .logo {
    width: 52px;
    height: 52px;
  }

  /* About me */

  .aboutMeTitle {
    top: 30%;
    left: 5%;
    font-size: 2em;
  }
  
  .aboutMeFirst {
    top: 40%;
    left: 5%;
    font-size: 1.5em;
  }
  
  .aboutMeSecond {
    top: 45%;
    left: 5%;
    font-size: 01em;
  }
  .aboutMeThird {
    top: 55%;
    left: 5%;
    font-size: 1em;
  }
}
