@import url("https://use.typekit.net/lrk1gqa.css");

/*  Navbar */
@-webkit-keyframes postItUnfold {
  0% {
    border-width: 2px 5px 15px 5px;
  }
  10% {
    border-width: 12px 45px 90px 45px;
  }
  50% {
    border-width: 12px 45px 90px 45px;
  }
  100% {
    border-width: 20px 100px 150px 80px;
  }
}

@keyframes postItUnfold {
  0% {
    border-width: 2px 5px 15px 5px;
  }
  50% {
    border-width: 12px 45px 90px 45px;
  }
  100% {
    border-width: 20px 100px 150px 80px;
  }
}

@-webkit-keyframes postIt {
  0% {
    border-width: 20px 100px 150px 80px;
  }
  5% {
    border-width: 12px 45px 90px 45px;
  }
  10% {
    border-width: 12px 45px 90px 45px;
  }
  100% {
    border-width: 2px 5px 15px 5px;
  }
}

@keyframes postIt {
  0% {
    border-width: 20px 100px 150px 80px;
  }
  50% {
    border-width: 12px 45px 90px 45px;
  }
  100% {
    border-width: 2px 5px 15px 5px;
  }
}

@-webkit-keyframes postItUnfoldText {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes postItUnfoldText {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes postItText {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes postItText {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes linkEffect {
  25% {
    border-top: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  50% {
    border-bottom: 1px solid grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  75% {
    border-top: 1px solid #ececec;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  100% {
    border-bottom: 1px solid #dbdbdb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}

/* Scroll */

@-webkit-keyframes scrollAnimated {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  35% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scrollAnimated {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  35% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}


/* About me */

@keyframes titled {
  from {
    opacity: 0;
  }
  30% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes first {
  from {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes second {
  from {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

/* Resume */

@keyframes backEffect {
  0% {
    transform: translateY(300px);
  }
  35% {
    transform: translateY(75px);
  }
  70% {
    transform: translateY(37.5px);
  }
  100% {
    transform: translateY(0);
  }
}

/* All page */

body, html, header, h1 {
  margin: 0;
  padding: 0;
}

body {
  font-family: flood-std, sans-serif;
  overflow: none;
}

header, body, html {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 15px;
}

a {
  text-decoration: none;
}

div div a:hover {
  color: grey;
  border-radius: 10px;
  -webkit-animation: linkEffect 1s ease;
  animation: linkEffect 1s ease;
}

section {
  width: 100%;
  height: 100vh;
}

/* Scroll */

.is-visible {
  -webkit-animation: scrollAnimated 1s linear alternate;
  animation: scrollAnimated 1s linear alternate;
}



/* Navbar */

.container-navbar {
  width: 100px;
  -webkit-transform: rotate(10deg); /* Safari */
  transform: translate(20px, 20px) rotate(-10deg); /* Tous les autres navigateurs */
  background: #edf492;
  border-style: solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
  position: fixed;
  border-color: transparent #edf492 #edf492 #edf492;
}

div div a {
  padding: 0 5px;
  font-size: 1.2em;
  color: black;
}

.active {
  color: grey;
}

.navbar-lang {
  width: 140px;
}

header h1 {
  width: auto;
  font-size: 1.2em;
}

header h1:hover {
  color: grey;
}

header {
  text-align: start;
  padding: 5px;
}

.unfold {
  height: 100px;
  -webkit-animation: postItUnfold 0.7s linear forwards;
  animation: postItUnfold 0.7s linear forwards;
}

.fold {
  -webkit-animation: postIt 0.7s linear forwards;
  animation: postIt 0.7s linear forwards;
}

.nav {
  width: 70%;
  -webkit-animation: postItUnfoldText 1s ease-in forwards;
  animation: postItUnfoldText 1s ease-in forwards;
}

.close {
  display: none;
  -webkit-animation: postItText 1s linear forwards;
  animation: postItText 1s linear forwards;
}

.nav-item {
  padding: 5px 0 5px 10px;
} 

a:hover {
  border-bottom: 1px solid grey;
}

.logo {
  width: 32px;
  height: 32px;
}

/* About me */

section:nth-child(2) {
  background-color: #f4f4f4;
}

#aboutMe {
  width: 100%;
  height: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.aboutMe-paper {
  width: 500px;
  margin-right: 50px;
  background-color: #fcf8f3;
  border: 1px solid #fcf8f3;
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#aboutMeTitle {
  padding: 0 0 30px 0;
  font-size: 3em;
  -webkit-animation: titled 0.7s ease-in-out forwards;
  animation: titled 0.7s ease-in-out forwards;
}

#aboutMeFirst {
  margin: 0;
  padding: 0 0 5px 0;
  font-size: 2.5em;
  -webkit-animation: first 1.7s ease-out forwards;
  animation: first 1.7s ease-out forwards;
}

#aboutMeSecond {
  margin: 0;
  padding: 5px 0 30px 0;
  font-size: 1.5em;
  -webkit-animation: first 3s ease-out forwards;
  animation: first 3s ease-out forwards;
}

#aboutMeThird {
  font-size: 1.5em;
  -webkit-animation: first 4.1s ease-in forwards;
  animation: first 4.1s ease-out forwards;
}

#aboutMe a,
#resume .resume-paper a {
  color: #1b6ca8;
  text-align: center;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  width: 180px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#aboutMe a:hover,
#resume .resume-paper a:hover {
  color: grey;
  box-shadow: 1px 8px 12px 4px rgba(0, 0, 0, 0.2);
}

/* Resume */

section:nth-child(3) {
  background: url(../img/white-ceramic.webp), url(../img/white-ceramic.jpg) no-repeat center center;
  background-attachment: fixed;
}

#resume {
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resume-paper {
  text-align: center;
  vertical-align: center;
  width: 450px;
  background-color: #fcf8f3;
  border: 1px solid #fcf8f3;
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.resume-paper h1 {
  font-size: 3em;
  padding: 20px 0;
}

#resumeFirst {
  font-size: 1.5em;
}

@media only screen and (max-width: 940px) {
  @-webkit-keyframes postItUnfold {
    0% {
      border-width: 20px 110px 170px 100px;
    }
    50% {
      border-width: 10px 45px 90px 45px;
    }
    100% {
      border-width: 0px 35px 15px 5px;
    }
  }

  @keyframes postItUnfold {
    0% {
      border-width: 20px 110px 170px 100px;
    }
    50% {
      border-width: 10px 45px 90px 45px;
    }
    100% {
      border-width: 0px 35px 15px 5px;
    }
  }

  @-webkit-keyframes postIt {
    0% {
      border-width: 0px 35px 5px 5px;
    }
    50% {
      border-width: 10px 55px 10px 45px;
    }
    100% {
      border-width: 20px 110px 150px 100px;
    }
  }

  @keyframes postIt {
    0% {
      border-width: 0px 35px 15px 5px;
    }
    50% {
      border-width: 10px 55px 10px 45px;
    }
    100% {
      border-width: 20px 110px 150px 100px;
    }
  }

  @-webkit-keyframes postItUnfoldText {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 0;
    }
    10% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes postItUnfoldText {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes postItText {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 0;
    }
    10% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes postItText {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 0;
    }
    10% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
  

  /* Navabr */

  .unfold {
    height: 100px;
  }

  .fold {
    height: 170px;
  }

  nav {
    display: none;
  }

  .close {
    display: block !important;
  }

  /* About me */

  .aboutMe-paper {
    width: auto;
    padding-top: 10px;
  }

  #aboutMeTitle {
    margin: 20px 0;
    font-size: 3em;
  }
  
  #aboutMeFirst {
    margin: 5px 0;
    font-size: 2.5em;
  }
  
  #aboutMeSecond {
    margin: 0 0 40px 0;
    font-size: 1.5em;
  }
  
  #aboutMeThird {
    font-size: 1.5em;
  }


  /* Resume */

  .resume-paper h1 {
    width: auto;
    font-size: 3em;
  }

  #resumeFirst {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 600px) {
  /* Navbar */

  div div a {
    font-size: 1.4em;
  }

  header h1 {
    font-size: 1.5em;
  }

  .logo {
    width: 52px;
    height: 52px;
  }

  /* About me */

  .aboutMe-paper {
    width: 250px;
  }

  #aboutMeTitle {
    font-size: 2em;
  }

  #aboutMeFirst {
    font-size: 1.5em;
  }

  #aboutMeSecond {
    font-size: 1em;
  }
  
  #aboutMeThird {
    font-size: 1em;
  }

  /* Resume */

  .resume-paper {
    width: 250px;
  }
  .resume-paper h1 {
    font-size: 2em;
  }

  #resumeFirst {
    font-size: 1em;
  }
}

@media only screen and (max-width: 380px) {
  /* About me */

  #aboutMe {
    padding-top: 40px;
  }

  .aboutMe-paper {
    width: 100%;
    max-width: 190px;
    height: 280px;
  }

  #aboutMeTitle {
    font-size: 1.2em;
    padding-bottom: 5px;
    margin: 0;
  }

  #aboutMeFirst {
    padding: 0;
    margin-bottom: 0;
    font-size: 0.8em;
  }

  #aboutMeSecond {
    padding-bottom: 0;
    font-size: 0.5em;
  }
  
  #aboutMeThird {
    font-size: 0.5em;
  }

  /* Resume */

  .resume-paper {
    width: 180px;
  }
  .resume-paper h1 {
    font-size: 1.5em;
  }

  #resumeFirst {
    font-size: 0.5em;
  }
}
